<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<meta name='robots' content='index'/>
  <meta name='description' content='Road Map for Open Data at the World Bank is a comprehensive report that looks at ways to grow the World Bank’s open data capacity in an effective and sustainable fashion over the next 12 months.'/>
<title>The Future of World Bank Open Data Online</title>
<meta name='viewport' content='width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0'>
<link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon' />
<link rel='stylesheet' href='css/reset.css' type='text/css' media='screen' />
<link rel='stylesheet' href='css/style.css' type='text/css' media='screen' />
<link rel='stylesheet' href='css/pygments.css' type='text/css' media='screen' />
<link rel='stylesheet' href='css/print.css' type='text/css' media='print' />
</head>
<body>
  {{content}}
</body>
</html>
